- model_class = Comment
.panel.panel-info
  .panel-heading
    %h4=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize
  = simple_form_for @comment, html: { class: 'form-horizontal' } do |f|
    .panel-body
      = f.input :text, label: false, required: true
      = f.input :id, as: :hidden
      = error_span(@comment[:text])
      = f.button :submit, class: 'btn-primary'
