- model_class = Comment
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
#comment_form
  = render partial: "form"
%table.table.table-striped.table-responsive
  %thead
    %tr
      %th{style: "width:  5%;"}= model_class.human_attribute_name(:id)
      %th{style: "width: 50%;"}= model_class.human_attribute_name(:text)
      %th{style: "width: 15%;"}= model_class.human_attribute_name(:updated_at)
      %th{style: "width: 20%;"}=t '.actions', default: t("helpers.actions")
  %tbody#comment_table
    = render @comments
